<div class="bg py-4 d-none d-md-block">
  <div class="container py-4">
    <div class="row">
      <div class="d-flex justify-content-between">
        <div>
          <p class="text-light mb-0 small fw-normal opacity-50 mb-2">
            © {{year}} Copyright CodeCurator
          </p>
          <p class="text-light mb-0 small fw-normal opacity-50 mb-2">
            <span><span class="iconify fs-3 me-2" data-icon="mdi:map-marker"></span></span>
            Address: 5813 Tenth Line West, Mississauga, Ontario, Canada
          </p>
          <p class="text-light mb-0 small fw-normal opacity-50 mb-2">
            <span><span class="iconify fs-3 me-2" data-icon="mdi:phone"></span></span>
            Phone: +(1) 289-719-1700
          </p>
        </div>

        <div>
          <ul class="d-flex">
            <li class="opacity-50 fw-normal small mx-md-2">
              <p class="text-light mb-0 small fw-normal opacity-50 mb-2">
                Terms and Conditions
              </p>
            </li>

            <li class="opacity-50 fw-normal small mx-md-2">
              <p class="text-light mb-0 small fw-normal opacity-50 mb-2">
                Privacy Policy
              </p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
