<div style="background-color: #747983;">
  <header>
    <nav class="navbar navbar-expand-lg fixed-top" [ngClass]="{ 'navbar-scrolled': isScrolled }">
      <div class="container">
        <a class="navbar-brand" href="#"><img class="img-fluid" alt="" width="130" /></a>
        <button class="navbar-toggler  " type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
          aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
          <span class="iconify fs-3" data-icon="ci:menu-alt-01"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarScroll">
          <ul class="navbar-nav mx-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px">
            <li class="nav-item">
              <a [ngClass]="{'active-extranet': activeSection === ''}"
                class="nav-link  px-5 py-1 fw-normal font-family-secondary" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a [ngClass]="{'active-extranet': activeSection === 'about'}"
                class="nav-link px-5 py-1 fw-normal font-family-secondary " href="#about">About Us</a>
            </li>

            <li class="nav-item">
              <a [ngClass]="{'active-extranet': activeSection === 'contact-us'}"
                class="nav-link px-5 py-1 fw-normal font-family-secondary" routerLink="contact-us">
                Contact Us</a>
            </li>

            <li class="nav-item">
              <a [ngClass]="{'active-extranet': activeSection === 'tutors'}"
                class="nav-link px-5 py-1 fw-normal font-family-secondary" routerLink="/tutors">Join Us
              </a>
            </li>
            <li class="nav-item bg-info rounded-3">
              <a [ngClass]="{'active-extranet': activeSection === 'dev-request'}"
                class="nav-link px-5 py-1 fw-normal font-family-secondary" routerLink="/dev-request">
                Enroll your child</a>
            </li>
          </ul>
          <div class="d-flex">
          </div>
        </div>
      </div>
    </nav>

    <div class="outside-view_2-2">
      <div class="container justify-content-md-center">
        <div class="row">
          <div class="col justify-content-center">
            <section class="logo mb-3">
              <img src="../../../../assets/img/ututor-logo.png" width="100" alt="" srcset="">
            </section>

            <div>
              <h3 class="text-your-modern-online-school_8-68">One-on-one Learning Experience</h3>
              <p
                class="text-new-school-is-an-aggregator-of-multimedia-educational-materials-from-around-the-world-_8-82">
                Expert Tutors Tailored for Your Child to fit your unique needs and goals.
              </p>
            </div>

            <div class="registration_8-102">
              <div class="rectangle-14_8-103">
                <button class="text-registration_8-104 btn btn-primary rounded-pill dark" routerLink="dev-request">Book
                  your child's
                  assessment</button>
              </div>
            </div>

            <hr class="text-white my-4" />

            <div class="text-stream-container">
              <div class=" fw-bold me-4 text-primary opacity-15">SATs and GCSE preparation
              </div>
              <div class="text-stream top-stream text-primary me-4">
                <span class="opacity-75" *ngFor="let tech of topTechnologies">{{ tech }}</span>
              </div>
              <div class="text-stream bottom-stream me-4 text-primary">
                <span class="opacity-75" *ngFor="let tech of bottomTechnologies">{{ tech }}</span>
              </div>
            </div>
          </div>

          <div class="col position-relative d-none d-lg-block">
            <div class="x-1h_4-53 rounded-pill">
              <div class="group-4_4-45">
                <div class="rectangle-7_4-41">
                  <svg width="221" height="668" viewBox="0 0 221 668" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect x="-59.1699" width="422.4" height="667.876" fill="#8644A2" />
                  </svg>
                </div>
                <div class="rectangle-10_4-41 d-flex justify-content-center">
                  <img src="../../../../assets/img/371244471_11474878.png" />
                </div>
              </div>
            </div>

            <div class="x-2l_4-63 rounded-pill">
              <div class="group-3_4-44">
                <div class="rectangle-4_4-36">
                  <svg width="221" height="530" viewBox="0 0 221 530" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect x="-86" width="422.4" height="633.6" fill="#FF0080" />
                  </svg>
                </div>
                <div class="rectangle-12_4-49 d-flex justify-content-center">
                  <img src="../../../../assets/img/girls-school-friendship-copy-space.png" width="" />
                </div>
              </div>
            </div>

            <div class="x-1h_4-51 rounded-pill">
              <div class="group-4_4-45">
                <div class="rectangle-7_4-41">
                  <svg width="221" height="668" viewBox="0 0 221 668" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect x="-59.1699" width="422.4" height="667.876" fill="#FF8A00" />
                  </svg>
                </div>
                <div class="rectangle-10_4-46 d-flex justify-content-center">
                  <img
                    src="../../../../assets/img/pleased-young-schoolgirl-wearing-back-bag-holding-book-with-notebook-showing-you-gesture-green.png" />
                </div>
              </div>
            </div>

            <div class="x-3h_4-66 rounded-pill">
              <div class="group-4_4-45">
                <div class="rectangle-7_4-41">
                  <svg width="221" height="668" viewBox="0 0 221 668" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect x="-59.1699" width="422.4" height="667.876" fill="#4CCD99" />
                  </svg>
                </div>
                <div class="rectangle-10_4-46 d-flex justify-content-center">
                  <img src="../../../../assets/img/front-view-kid-learning-ride-horse.png" />
                </div>
              </div>
            </div>

            <div class="ellipse-1_8-174">
              <svg width="34" height="34" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="17" cy="17" r="17" fill="#8644A2" />
              </svg>
            </div>
            <div class="ellipse-2_8-175">
              <svg width="34" height="34" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="17" cy="17" r="17" fill="#FF8A00" />
              </svg>
            </div>
            <div class="ellipse-3_8-176">
              <svg width="34" height="34" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="17" cy="17" r="17" fill="#4CCD99" />
              </svg>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>

  <section class="section_dark_bg" id="about">
    <div class="container pb-4">
      <div class="my-5">
        <h1 class="text-light w-25 mb-3">
          Why Choose Ututor?
        </h1>

        <p class="text-light opacity-75 small w-75">At Ututor, we understand that every student learns differently.
          That's why we offer customized lessons tailored
          to each student's unique needs, goals, and learning style.</p>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <div class="container rounded-3">
            <div>
              <h5 class="text-light pb-2">Expert Tutors in Various Subjects</h5>
              <p class="text-light opacity-75 small my-3">Our team of expert tutors is dedicated to helping students
                excel in
                various subjects, including:</p>
              <div class="text-light opacity-75 small">
                <ol> - Math (Algebra, Geometry, Calculus, and more)</ol>
                <ol> - Science (Biology, Chemistry, Physics, and more)</ol>
                <ol> - English (Reading, Writing, Grammar, and more)</ol>
                <ol> - Other subjects (Computer Science and more).</ol>
              </div>

            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="container rounded-3 mt-sm-0 mt-4">
            <div>
              <h5 class="text-light pb-2">Affordable and Flexible Plans</h5>
              <p class="text-light opacity-75 small my-3">We believe that quality education should be accessible to
                everyone.
                That's why we offer affordable and flexible plans to
                fit your budget and schedule:</p>
              <div class="small text-light opacity-75">
                <ol>- Choose from various package options (e.g., monthly, quarterly, annually)</ol>
                <ol>- Select from different session lengths (e.g., 30 minutes, 1 hour, 2 hours)</ol>
                <ol>- Schedule sessions at a time that works for you (e.g., weekdays, weekends, mornings, afternoons)
                </ol>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container pb-5">
      <div class="row">
        <div class="card_feat p-5 bg-light rounded-3 shadow-sm">
          <div class="d-flex justify-content-center">
            <h1 class="pb-4" style="font-size: 3rem; color: #747983;">Benefits</h1>
          </div>
          <div class="row row-cols-xl-3 row-cols-md-2 row-cols-1 g-4 align-items-center">
            <div class="col d-flex align-items-start">
              <img class="me-3" src="../../../../assets/img/time_management.svg" style="height: 50px">
              <div>

                <p class="fw-bold mb-2 fs-5">Flexible Scheduling</p>
                <p class="text-muted mb-0">Schedule tutoring sessions at a time that works for you.</p>
              </div>
            </div>

            <div class="col d-flex align-items-start">
              <img class="me-3" src="../../../../assets/img/discount.svg" style="height: 50px">
              <div>
                <p class="fw-bold mb-2 fs-5">Affordable Rates</p>
                <p class="text-muted mb-0 ">Competitive pricing for high-quality tutoring services.</p>
              </div>
            </div>

            <div class="col d-flex align-items-start">
              <img class="me-3" src="../../../../assets/img/flagged.svg" style="height: 50px">
              <div>
                <p class="fw-bold mb-2 fs-5">Personalized Attention</p>
                <p class="text-muted mb-0">One-on-one attention from expert tutors who care.</p>
              </div>
            </div>

            <div class="col d-flex align-items-start">
              <img class="me-3" src="../../../../assets/img/completing.svg" style="height: 50px">
              <div>
                <p class="fw-bold mb-2 fs-5">Improved Grades</p>
                <p class="text-muted mb-0">Proven track record of helping students improve their grades and academic
                  performance.</p>
              </div>
            </div>

            <div class="col d-flex align-items-start">
              <img class="me-3" src="assets/img/analysis.png" style="height: 50px">
              <div>
                <p class="fw-bold mb-2 fs-5">Free Trial Session</p>
                <p class="text-muted mb-0">Try our tutoring services risk-free with a complimentary trial session.</p>
              </div>
            </div>

            <div class="col d-flex align-items-start ">
              <button class="btn btn-primary rounded-pill dark" routerLink="dev-request">Get Started Today</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<section class="about-us py-5">
  <div class="container">
    <div class="align-items-center">
      <div style="background-color: #747983" class="my-4 rounded-4">
        <div class="p-md-5 p-3 row">
          <div class="col-xl-4 col-12 text-center" style="padding: 10px; display: inline-block;">
            <img src="/assets/img/afro-mother-reading-book-her-children.jpeg" class="img-fluid rounded-4"
              alt="Developers Working" />
          </div>
          <div class="col-xl-8 col-12">
            <div>
              <h3 class="fw-bold text-light text-secondary mb-3">95% of our students improve their grades
                within three months!</h3>
              <p class="paragraph text-light opacity-75 mb-4 text-center text-md-start">
                Would you like to focus on a specific subject or audience, such as test prep or younger learners?
              </p>
              <p class="paragraph text-light opacity-75 mb-4 text-center text-md-start">- Are you Struggling with Math?
                <strong> Ace it!</strong>
              </p>
              <p class="paragraph text-light opacity-75 mb-4 text-center text-md-start">- Need Help with English?
                <strong>Master It!</strong>
              </p>
              <p class="paragraph text-light opacity-75 mb-4 text-center text-md-start">Whether it's boosting grades or
                mastering a new skill, we’re here for you, one session at a time!</p>
              <button class="btn btn-primary rounded-pill dark" routerLink="dev-request">Get Started Today</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="my-5 visualise">
  <div class="container">
    <div class="row row-cols-xl-2 row-cols-1 gx-md-5 align-items-center p-md-5 p-3">
      <div class="col-xl-8 col-12">
        <div>
          <p class="text-light my-3">Discover the difference a tutor can make.</p>
          <h1 class="text-light fs-1">
            Tailored Learning <br />
            for All Ages
          </h1>

          <div class="my-5">
            <p class="fw-bold text-light fs-18 mb-2">Take Charge of Learning with One-on-One Tutoring!</p>
            <p class="text-light paragraph opacity-75 small">
              Are you ready to unlock your true potential? With Ututor, learning becomes a journey you’ll love. Our
              expert
              tutors design lessons to fit your goals, your pace, and your style.
            </p>
          </div>
        </div>
        <button class="btn btn-primary rounded-pill dark" routerLink="dev-request">Get Started Today</button>
      </div>

      <div class="col-xl-4 col-12 text-center" style="padding: 10px; display: inline-block;">
        <img src="/assets/img/handsome-youngster-casual-t-shirt.jpg" class="img-fluid rounded-4"
          alt="Developers Working" />
      </div>
    </div>
  </div>
</section>

<section class="my-5">
  <div class="container">
    <div class="d-flex flex-column align-items-center justify-content-center my-5">
      <div class="text-center mt-5">
        <h1 class="" style="font-size: 3rem">Achieve More with Personal Learning Plans!</h1>
        <p class="my-3 text-center small w-75 mx-auto">
          Don't just take our word for it! Thousands of students have already chosen Ututor for their
          educational needs. Here's what some of our satisfied students and parents have to say:
        </p>
      </div>
    </div>


    <div class="d-md-flex justify-content-between align-items-center mb-5">
      <div class="col-md-5 col-12 mb-5">
        <p class="fw-bold text-primary fs-18">- Emmett</p>
        <p class="paragraph">
          I was struggling in math, but my tutor at Ututor helped me understand the concepts and improve my
          grades. Thank
          you
        </p>
      </div>
      <div class="col-md-5 col-12">
        <p class="fw-bold text-primary fs-18">- Michael Morrison</p>
        <p class="paragraph">
          Ututor has been a game-changer for my child's education. The tutors are knowledgeable, patient, and
          supportive.
        </p>
      </div>
    </div>
    <div class="d-md-flex justify-content-between align-items-center">
      <div class="col-md-5 col-12 mb-5">
        <p class="fw-bold text-primary fs-18">- Sarah Bradley</p>
        <p class="paragraph">
          My son’s confidence and retention have improved tremendously. As a result he has taken a stronger interest in
          his
          education
        </p>
      </div>
      <div class="col-md-5 col-12">
        <p class="fw-bold text-primary fs-18">- Mary Owen</p>
        <p class="paragraph">
          Ututor helped my daughter do very well in her exam by helping her understand the basics before teaching her the complex
          concepts
        </p>
      </div>
    </div>
  </div>
</section>

<section class="section_dark_bg">
  <div class="d-flex justify-content-center p-md-5 p-3">
    <div class="col-lg-7">
      <h4 class="text-light my-3">
        Start Your First Session Today!
      </h4>
      <p class="my-5 col-xl-10 text-light paragraph">
        Ready to experience the Ututor difference? Sign up for your first session today and discover why
        thousands of students trust us for their education.
      </p>

      <div class="d-flex flex-column flex-md-row justify-content-md-start">
        <button class="btn btn-primary rounded-pill px-5 mt-3 mt-md-0" routerLink="contact-us"> <span><span
              class="iconify fs-3" data-icon="fontisto:email"></span></span> Contact Us</button>
        <button class="btn btn-white text-dark rounded-pill px-md-5 mt-4 mt-md-0 mx-2" [routerLink]="'/dev-request'">
          Enroll your child</button>
        <button class="btn btn-primary rounded-pill px-md-5 mt-4 mt-md-0" [routerLink]="'/tutors'">
          Join Us for Tutors</button>
      </div>
    </div>
  </div>
</section>