<div style="background-color: #2F3743;">
  <header>
    <nav class="navbar navbar-expand-lg fixed-top" [ngClass]="{ 'navbar-scrolled': isScrolled }">
      <div class="container">
        <a class="navbar-brand" href="#"><img class="img-fluid" alt="" width="130" /></a>
        <button class="navbar-toggler  " type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
          aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
          <span class="iconify fs-3" data-icon="ci:menu-alt-01"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarScroll">
          <ul class="navbar-nav mx-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px">
            <li class="nav-item">
              <a [ngClass]="{'active-extranet': activeSection === ''}"
                class="nav-link  px-5 py-1 fw-normal font-family-secondary" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a [ngClass]="{'active-extranet': activeSection === 'about'}"
                class="nav-link px-5 py-1 fw-normal font-family-secondary " href="#about">About Us</a>
            </li>

            <li class="nav-item">
              <a [ngClass]="{'active-extranet': activeSection === 'contact-us'}"
                class="nav-link px-5 py-1 fw-normal font-family-secondary" routerLink="contact-us">
                Contact Us</a>
            </li>
            <li class="nav-item">
              <a [ngClass]="{'active-extranet': activeSection === 'dev-request'}"
                class="nav-link px-5 py-1 fw-normal font-family-secondary" routerLink="dev-request">
                Join Us</a>
            </li>
          </ul>
          <div class="d-flex">
          </div>
        </div>
      </div>
    </nav>

    <div class="outside-view_2-2">
      <div class="container justify-content-md-center">
        <div class="row">
          <div class="col justify-content-center">
            <section class="logo">
              <img src="../../../../assets/img/logo-removebg.png" width="80px" alt="" srcset="">
            </section>

            <div>
              <h3 class="text-your-modern-online-school_8-68">your modern online school</h3>
              <p
                class="text-new-school-is-an-aggregator-of-multimedia-educational-materials-from-around-the-world-_8-82">
                New
                School is an aggregator of multimedia educational materials from
                around the world.
              </p>
            </div>

            <div class="registration_8-102">
              <div class="rectangle-14_8-103">
                <button class="text-registration_8-104 btn btn-primary rounded-pill dark">Get Quote</button>
              </div>
            </div>

            <hr class="text-white my-4" />

            <div class="text-stream-container">
              <div class=" fw-bold me-4 text-white opacity-15">Next-Gen Technology and Tools to learn from...
              </div>
              <div class="text-stream top-stream me-4">
                <span class="opacity-75 text-white" *ngFor="let tech of topTechnologies">{{ tech }}</span>
              </div>
              <div class="text-stream bottom-stream">
                <span class=" opacity-75 text-white" *ngFor="let tech of bottomTechnologies">{{ tech }}</span>
              </div>
            </div>
          </div>

          <div class="col position-relative d-none d-lg-block">
            <div class="x-1h_4-53 rounded-pill">
              <div class="group-4_4-45">
                <div class="rectangle-7_4-41">
                  <svg width="221" height="668" viewBox="0 0 221 668" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect x="-59.1699" width="422.4" height="667.876" fill="#8644A2" />
                  </svg>
                </div>
                <div class="rectangle-10_4-46 d-flex justify-content-center">
                  <img src="../../../../assets/img/full-length-image-smiling-african-woman-leather-jacket.png" />
                </div>
              </div>
            </div>

            <div class="x-2l_4-63 rounded-pill">
              <div class="group-3_4-44">
                <div class="rectangle-4_4-36">
                  <svg width="221" height="530" viewBox="0 0 221 530" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect x="-86" width="422.4" height="633.6" fill="#FF0080" />
                  </svg>
                </div>
                <div class="rectangle-12_4-49 d-flex justify-content-center">
                  <img
                    src="../../../../assets/img/pleased-young-afro-american-student-with-cap-backpack-holding-laptop.png"
                    width="" />
                </div>
              </div>
            </div>

            <div class="x-1h_4-51 rounded-pill">
              <div class="group-4_4-45">
                <div class="rectangle-7_4-41">
                  <svg width="221" height="668" viewBox="0 0 221 668" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect x="-59.1699" width="422.4" height="667.876" fill="#FF8A00" />
                  </svg>
                </div>
                <div class="rectangle-10_4-46 d-flex justify-content-center">
                  <img src="../../../../assets/img/beautiful-student-with-her-books.png" />
                </div>
              </div>
            </div>

            <div class="x-3h_4-66 rounded-pill">
              <div class="group-4_4-45">
                <div class="rectangle-7_4-41">
                  <svg width="221" height="668" viewBox="0 0 221 668" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect x="-59.1699" width="422.4" height="667.876" fill="#4CCD99" />
                  </svg>
                </div>
                <div class="rectangle-10_4-46 d-flex justify-content-center">
                  <img
                    src="../../../../assets/img/cheerful-young-man-holding-hands-pockets-looking-front-while-standing-against-white-wall.png" />
                </div>
              </div>
            </div>

            <div class="ellipse-1_8-174">
              <svg width="34" height="34" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="17" cy="17" r="17" fill="#8644A2" />
              </svg>
            </div>
            <div class="ellipse-2_8-175">
              <svg width="34" height="34" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="17" cy="17" r="17" fill="#FF8A00" />
              </svg>
            </div>
            <div class="ellipse-3_8-176">
              <svg width="34" height="34" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="17" cy="17" r="17" fill="#4CCD99" />
              </svg>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>

  <section class="section_dark_bg" id="about">
    <div class="container">
      <!-- <div class="row py-5 align-items-center"> -->
      <!-- <div class="col-md-6 col-12"> -->
      <h1 class="text-light my-5 w-25">
        Why Choose Codecurator?
      </h1>

      <div class="row">
        <div class="col-sm-8">
          <div class="container rounded-3">
            <div>
              <h5 class="text-light pb-2">Empowering Your Digital Vision</h5>
              <p class="text-light opacity-75 small">Codecurator is dedicated to transforming your app and website ideas
                into reality. We specialize in providing
                custom software outsourcing services by delivering solutions tailored to meet your unique business
                needs.
                Our expert team combines creativity and technical proficiency to provide end-to-end support, from
                initial
                concept through to final implementation, driving innovation and business growth.</p>
            </div>
            <div>
              <p class="text-light opacity-75 small my-2">With Codecurator, you benefit from a seamless outsourcing
                experience, transparent communication, and ongoing
                support. Whether you're launching a new product, building a new website, or enhancing existing software,
                we're here to empower your success with innovative technology solutions and reliable partnership.</p>
            </div>
          </div>
        </div>
        <div class="col-sm-4 py-4">
          <div class="container rounded-3">
            <div>
              <h5 class="text-light pb-2">Our Approach</h5>
              <p class="text-light opacity-75 small">We start by collaborating closely with you to understand your goals
                and requirements. Through meticulous
                planning and agile development practices, we ensure every project aligns with your vision. Our
                commitment
                to
                excellence and client satisfaction drives us to deliver high-quality, scalable outsourcing solutions
                that
                exceed expectations.</p>
            </div>
          </div>
        </div>
      </div>

      <!-- <div class="my-5">
            <p class="text-light fw-bold paragraph fs-18 mb-3">Empowering Your Digital Vision</p>
            <p class="paragraph fw-normal text-light opacity-75 mb-4">
              Codecurator is dedicated to transforming your app and website ideas into reality. We specialize in providing
              custom software outsourcing services by delivering solutions tailored to meet your unique business needs.
              Our expert team combines creativity and technical proficiency to provide end-to-end support, from initial
              concept through to final implementation, driving innovation and business growth.
            </p>
  
            <p class="text-light fw-bold paragraph fs-18 mb-3">Our Approach</p>
            <p class="paragraph fw-normal text-light opacity-75 mb-4">
              We start by collaborating closely with you to understand your goals and requirements. Through meticulous
              planning and agile development practices, we ensure every project aligns with your vision. Our commitment to
              excellence and client satisfaction drives us to deliver high-quality, scalable outsourcing solutions that
              exceed expectations.
            </p>
  
            <p class="text-light fw-bold paragraph fs-18 mb-3">Why Choose Us?</p>
            <p class="paragraph fw-normal text-light opacity-75 mb-4">
              With Codecurator, you benefit from a seamless outsourcing experience, transparent communication, and ongoing
              support. Whether you're launching a new product, building a new website, or enhancing existing software,
              we're here to empower your success with innovative technology solutions and reliable partnership.
            </p>
          </div> -->

      <!-- <button class="btn btn-primary rounded-pill px-5 mt-4 mt-md-0 mx-2" [routerLink]="'/application-request'">
            <span><span class="iconify fs-3 me-2" data-icon="iconoir:send"></span></span>Get a Quote
          </button> -->

      <!-- </div> -->
      <!-- </div> -->
    </div>
  </section>

  <section>
    <div class="container pb-5">
      <div class="row">
        <div class="card_feat p-md-5 p-3 bg-light rounded-3 shadow-sm">
          <div class="d-flex justify-content-center">
            <h1 class="pb-5" style="font-size: 3rem">What we Offer</h1>
          </div>
          <div class="row row-cols-xl-3 row-cols-md-2 row-cols-1 g-4">
            <div class="col d-flex align-items-start">
              <img class="me-3" src="assets/img/testing.png" style="height: 50px">
              <div>

                <p class="fw-bold mb-2 fs-5">UI/UX Design</p>
                <p class="text-muted mb-0">Craft intuitive and engaging user interfaces with a focus on enhancing user
                  experience across web and mobile platforms.</p>
              </div>
            </div>

            <div class="col d-flex align-items-start">
              <img class="me-3" src="assets/img/testing.png" style="height: 50px">
              <div>
                <p class="fw-bold mb-2 fs-5">QA Testing</p>
                <p class="text-muted mb-0 ">Ensure your products are flawless with rigorous quality assurance testing,
                  identifying and resolving issues before launch.</p>
              </div>
            </div>

            <div class="col d-flex align-items-start">
              <img class="me-3" src="assets/img/development.png" style="height: 50px">
              <div>
                <p class="fw-bold mb-2 fs-5">Web Development</p>
                <p class="text-muted mb-0">Develop robust, scalable websites tailored to your business needs,
                  incorporating the latest technologies and best practices.</p>
              </div>
            </div>

            <div class="col d-flex align-items-start">
              <img class="me-3" src="assets/img/coding.png" style="height: 50px">
              <div>
                <p class="fw-bold mb-2 fs-5">Mobile App Development</p>
                <p class="text-muted mb-0">Create high-performing mobile applications that deliver seamless experiences
                  on
                  both iOS and Android platforms.</p>
              </div>
            </div>

            <div class="col d-flex align-items-start">
              <img class="me-3" src="assets/img/cloud-network.png" style="height: 50px">
              <div>
                <p class="fw-bold mb-2 fs-5">Cloud Solutions</p>
                <p class="text-muted mb-0">Implement scalable cloud-based solutions to enhance your infrastructure,
                  improve accessibility, and optimize performance.</p>
              </div>
            </div>

            <div class="col d-flex align-items-start">
              <img class="me-3" src="assets/img/analysis.png" style="height: 50px">
              <div>
                <p class="fw-bold mb-2 fs-5">Data Analytics</p>
                <p class="text-muted mb-0">Leverage data analytics to gain actionable insights, drive decision-making,
                  and
                  understand user behavior to refine your strategies.</p>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<section class="about-us py-5">
  <div class="container">
    <div class="align-items-center">

      <div style="background-color: #060408" class="my-4 rounded-4">
        <div class="p-md-5 p-3 row">
          <div class="col-md-6 mb-4 mb-md-0">
            <img src="/assets/img/person.jpg" class="img-fluid rounded-3 shadow-lg mb-4" alt="Codecurator Team" />
            <h2 class="text-white text-secondary fw-bold mb-4 text-md-start">Transforming Ideas into Digital
              Masterpieces</h2>

            <p class="paragraph text-light opacity-75 mb-4 text-center text-md-start">
              At Codecurator, we're more than just a software outsourcing company, we're your creative partners in
              innovation. Our mission is to drive your vision forward with cutting-edge solutions that set you apart
              from
              the competition. Whether you're looking for a single developer or a full-fledged development team, we
              tailor
              our services to meet your unique needs and exceed your expectations.
            </p>
          </div>
          <div class="col-md-6">
            <div class="mb-4">
              <h3 class="fw-bold text-light text-secondary  mb-3">Streamlined Development Workflow</h3>
              <p class="paragraph text-light opacity-75" style="text-align: justify">
                Our approach simplifies the development process by aligning tasks with your project goals. We focus on
                the
                essential features and functionalities, ensuring that resources are allocated efficiently and
                development
                efforts are concentrated where they matter most. This streamlined workflow enhances productivity and
                accelerates the delivery of high-quality websites, web applications, and mobile apps.
              </p>
            </div>

            <div>
              <h3 class="fw-bold text-light text-secondary fs-4 mb-3">Real-Time Progress Tracking and Iterative
                Refinement
              </h3>
              <p class="paragraph text-light opacity-75 " style="text-align: justify">
                With Codecurator, you gain access to state-of-the-art automation tools for real-time progress tracking.
                Our data-driven approach enables you to monitor key performance indicators and project milestones
                closely.
                We use this valuable data to refine features, adjust strategies, and optimize workflows, ensuring that
                your project evolves seamlessly towards successful deployment.
              </p>
            </div>

            <p class="mt-4 text-md-start text-light opacity-75 paragraph">
              Choose Codecurator as your strategic partner in digital transformation. We are committed to documenting
              goals, automating processes, and delivering impactful solutions for all your software needs.
            </p>
          </div>

        </div>
      </div>
    </div>

  </div>
</section>

<section class="my-5 visualise">
  <div class="container">
    <div class="row row-cols-xl-2 row-cols-1 gx-md-5 align-items-center p-md-5 p-3">
      <div class="col-xl-8 col-12">
        <div>
          <p class="text-light my-3">Empowering Your Vision.</p>
          <h1 class="text-light fs-1">
            Visualize Your <br />
            Development Journey
          </h1>

          <div class="my-5">
            <p class="fw-bold text-light fs-18 mb-2">Streamlined Development</p>
            <p class="text-light paragraph opacity-75 small">
              Codecurator enables you to define and align your goals seamlessly. We help articulate specific features,
              functionalities, and user experiences, ensuring your project's objectives align with your business
              strategy or personal aspirations. This approach fosters consistency and coherence in the development of
              your websites, web applications, and mobile applications.
            </p>
          </div>
        </div>
      </div>

      <div class="col-xl-4 col-12 text-center" style="padding: 10px; display: inline-block;">
        <img src="/assets/img/group-of-developers.jpg" class="img-fluid rounded-4" alt="Developers Working" />
      </div>
    </div>
  </div>
</section>

<section class="my-5">
  <div class="container">
    <div class="d-flex flex-column align-items-center justify-content-center my-5">
      <div class="text-center mt-5">
        <h1 class="" style="font-size: 3rem">Optimizing Your Software Solutions</h1>
        <p class="my-3 text-center small">
          We connect you with our top-tier software development talent, enabling you to efficiently outsource your
          software product services. Transform your innovative ideas into exceptional software solutions with our
          expertise.
        </p>
      </div>
    </div>
    <div class="d-md-flex justify-content-between align-items-center">
      <div class="col-12 col-md-6 text-center">
        <img src="/assets/img/group.jpg" class="img-fluid w-75 rounded-5" alt="Team Collaboration" />
      </div>

      <div class="col-12 col-md-6 text-center text-md-start mt-4 mt-md-0">
        <div class="col-md-9 col mb-5">
          <p class="fw-bold text-primary fs-18 mb-2">Streamlined Outsourcing</p>
          <p class="paragraph">
            We specialize in outsourcing software product services, leveraging automation and expert processes to
            streamline development workflows. Our in-house team of top-tier talent ensures that your software projects
            are handled efficiently, saving you time and resources while delivering high-quality results.
          </p>
        </div>

        <div class="col-md-9 col-12">
          <p class="fw-bold text-primary fs-18 mb-2">Effective Collaboration</p>
          <p class="paragraph">
            Our platform provides robust collaboration tools to facilitate seamless communication and coordination
            between your team and our experts. By integrating our services into your workflow, you can harness our
            collective expertise and drive successful outcomes for your software projects.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section_dark_bg">
  <div class="d-flex justify-content-center p-md-5 p-3">
    <div class="col-lg-7">
      <h4 class="text-light my-3">
        How Can We Empower Your App Development Journey?
      </h4>
      <p class="my-5 col-xl-10 text-light paragraph">
        Codecurator empowers clients to innovate their website, web application, and mobile application development
        processes, optimize their digital strategies, and achieve unprecedented success in the competitive digital
        landscape.
      </p>

      <div class="d-flex flex-column flex-md-row justify-content-md-start">
        <button class="btn btn-primary rounded-pill px-5 mt-3 mt-md-0 mx-2" routerLink="contact-us"> <span><span
              class="iconify fs-3" data-icon="fontisto:email"></span></span> Contact Us</button>
        <button class="btn btn-white text-dark rounded-pill px-md-5 mt-4 mt-md-0" [routerLink]="'/dev-request'">
          &lt;/&gt; Apply as Developer</button>
      </div>
    </div>
  </div>
</section>