<div class="graphik-font">
  <header>
    <div>
      <nav class="navbar navbar-expand-lg fixed-top" [ngClass]="{ 'navbar-scrolled': isScrolled }">
        <div class="container">
          <div class="collapse navbar-collapse" id="navbarScroll">
            <ul class="navbar-nav mx-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px">
              <li class="nav-item">
                <a [ngClass]="{'active-extranet': activeSection === ''}"
                  class="nav-link  px-5 py-1 fw-normal font-family-secondary" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a [ngClass]="{'active-extranet': activeSection === 'about'}"
                  class="nav-link px-5 py-1 fw-normal font-family-secondary " href="#about">About Us</a>
              </li>
              <li class="nav-item">
                <a [ngClass]="{'active-extranet': activeSection === 'contact-us'}"
                  class="nav-link px-5 py-1 fw-normal font-family-secondary" routerLink="contact-us">
                  Contact Us</a>
              </li>

              <li class="nav-item">
                <a [ngClass]="{'active-extranet': activeSection === 'tutors'}"
                  class="nav-link px-5 py-1 fw-normal font-family-secondary" routerLink="/tutors">Join Us
                </a>
              </li>

              <li class="nav-item bg-info rounded-3">
                <a [ngClass]="{'active-extranet': activeSection === 'dev-request'}"
                  class="nav-link px-5 py-1 fw-normal font-family-secondary" routerLink="/dev-request">
                  Enroll your child</a>
              </li>
            </ul>
            <div class="d-flex">
            </div>
          </div>
        </div>
      </nav>
    </div>

    <div class="visualise">
      <div class="container">
        <div class="row">
          <div class="formCard my-5">
            <section>
              <img src="../../../../assets/img/ututor-logo.png" width="100" alt="" srcset="">
            </section>
            <div class="d-md-flex justify-content-between">
              <div class="col-md-6 col-12">
                <p class="my-3 small text-light">Contact Us</p>
                <h1 class="text-light" style="font-size: 3rem">Get In Touch</h1>

                <p class="text-light paragraph">
                  Feel free to reach out to us with any questions, inquiries, or feedback you may have. Our dedicated
                  team is ready to assist you and provide the support you need. We strive to respond to all inquiries
                  promptly to ensure a positive experience for our valued students and parents.
                </p>

                <div class="mt-5">
                  <div class="d-flex mb-5">
                    <span class="iconify fs-3 text-light me-2" data-icon="carbon:email"></span>
                    <div>
                      <p class="text-light fw-bold">Email</p>
                      <p class="fs-14 text-light opacity-50">support@ututor.co.uk</p>
                    </div>
                  </div>
                  <div class="d-flex mb-5">
                    <span class="iconify fs-3 text-light me-2" data-icon="mdi:map-marker"></span>
                    <div>
                      <p class="text-light fw-bold">Phone</p>
                      <a  href="tel:+442039512348" title="Call Our Uk Office" class="fs-14 text-light opacity-50">020 3951 2348</a>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-6 col-12 px-md-4 mt-5 mt-md-0">
                <div class="card p-lg-5 p-3 rounded-2">
                  <p class="fw-bold">Get In Touch With Us</p>
                  <div class="mt-5">
                    <form [formGroup]="form">
                      <div class="row">
                        <div class="col">
                          <label for="" class="form-label required">Name</label>
                          <input type="text" class="form-control" placeholder="Name" aria-label="Name"
                            formControlName="name" />
                          <error-message [form]="form" [label]="'Name'" [controlName]="'name'" [singularError]="true">

                          </error-message>
                        </div>
                      </div>
                      <div class="col mt-5">
                        <label for="" class="form-label required">How can we help? </label>
                        <textarea type="text" class="form-control" rows="5" placeholder="Your Message"
                          formControlName="message">
                        </textarea>
                        <error-message [form]="form" [label]="'Message'" [controlName]="'message'"
                          [singularError]="true">

                        </error-message>
                      </div>
                      <div class="mt-5">
                        <button (click)="sendEmail()" class="btn btn-primary px-5">Click to Open your email to Send
                          Message</button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
</div>